<%= form_for @user do |f| %>
<%= render 'errors' %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "First name" %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "Email" %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, placeholder: "Phone Number" %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Password" %>
  </p>

  <p>
    <%= f.label :confirm_password %><br>
    <%= f.password_field :confirm_password, placeholder: "Confirm Password" %>
  </p>

  <p class="terms" id="check_box">
    <%= f.check_box :email_reminders %>
  </p>
  <p class="terms">I would like to recieve email reminders</p>
  <br>

  <p class="terms" id="check_box">
    <%= f.check_box :text_reminders %>
  </p>
  <p class="terms">I would like to recieve text reminders</p>
  <br>

  <% if !@user.persisted? %>
    <p class="terms" id="check_box">
      <%= check_box_tag :terms %>
    </p>
    <p class="terms">I agree to the <a href="/terms" target="_blank">terms and conditions</a></p>
  <% end %>

  <p>
    <%= f.submit "Submit", class: "btn-lg btn-primary"%>
  </p>

<% end %>
