<%= form_for :user, url: users_path do |f| %>
<%= render 'errors' %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "First name" %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "Email" %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, placeholder: "Phone Number" %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Password" %>
  </p>

  <p class="terms" id="check_box">
    <%= f.check_box :terms %>
  </p>

  <p class="terms">I agree to the <a href="/terms" target="_blank">terms and conditions</a></p>

  <p>
    <%= f.submit "Submit", class: "btn-lg btn-primary"%>
  </p>

<% end %>
