<div class="jumbotron">
  <div class="inline">
    <h1><%= @user.first_name.capitalize %></h1>
    <h4>Email: <%= @user.email%></h4>
    <p>Member since: <%= @user.created_at.strftime('%m/%d/%y') %></p>
    <div>
      <%= link_to "Edit Profile", "/users/#{@user.id}/edit", class: 'btn btn-primary btn-welcome reminder_settings'%>
    </div>
  </div>
  <div class="inline user-cstrengths-list">
    <h2>Character Strengths:</h2>
    <% @user.cstrengths.each do |cstrength| %>
      <h3><%= link_to cstrength.name, cstrength_path(cstrength) %></h3>
    <% end %>
  </div>
</div>
