<div class="jumbotron">
<h1 class="title"><%=@cstrength.name%></h1>
  <h4><span class="underline">Description</span> </br></br> <%= @cstrength.description %></h4></br>
  <h4><span class="underline">Concepts</span> </br></br><%= @cstrength.concepts %></h4></br>
  <h4><span class="underline">Exercises</span></br></br> - <%= @cstrength.exercise1 %></h4>
  <h4>- <%= @cstrength.exercise2 %></h4></br>
  <h3><span class="underline">Motto</span> </br></br> <%= @cstrength.motto %></h3>
</div>
