<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.3.0/d3-legend.js" charset="utf-8"></script>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ourSelf</title>
  <!-- Bootstrap Core CSS -->
  <%= stylesheet_link_tag "application"%>


  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/"><%= image_tag("orange-logo.png", size: "110x29", alt: "Logo ourSelf")%></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/trends">Trends</a>
        </li>
        <li>
            <a href="/cstrengths">Character Strengths</a>
        </li>
        <%if logged_in?%>
        <li><%= link_to current_user.first_name.capitalize, user_path(current_user) %></li>
        <li><%= link_to 'Logout', '/sessions/destroy', method: 'delete' %></li>
        <% else %>
        <li><%= link_to 'Register', '/users/new' %></li>
        <li><%= link_to 'Login', '/sessions/login' %></li>
        <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- Header -->

<div class="home">
  <%= yield %>
</div>

  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <ul class="list-inline">
                      <li>
                          <a href="/">Home</a>
                      </li>
                      <li class="footer-menu-divider">&sdot;</li>
                      <li>
                          <a href="/about">About</a>
                      </li>
                      <li class="footer-menu-divider">&sdot;</li>
                      <li>
                          <a href="/team">Team</a>
                      </li>
                  </ul>
                  <p class="copyright text-muted small">Copyright &copy; ourSelf 2016. All Rights Reserved</p>
              </div>
          </div>
      </div>
  </footer>
  <!-- Bootstrap Core JavaScript -->

</body>


</html>
