<!DOCTYPE html>
<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-QqZs0aSOGFan3GWVdP4PyCBp6icaF/4n8Q+wsmZUTiiVIqE4r4tFYcb8Osf+8y45" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <title>Extending Empathy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Extending Empathy</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Trends</a></li>
        <li><a href="/cstrengths">Character Strengths</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%if logged_in?%>
        <li><%= link_to current_user.username.capitalize, user_path(current_user) %></li>
        <li><%= link_to 'Logout', '/sessions/destroy', method: 'delete' %></li>
        <% else %>
        <li><%= link_to 'Register', '/users/new' %></li>
        <li><%= link_to 'Login', '/sessions/login' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; 2016 Extending Empathy </p>
    </div>
  </footer>
</body>
</html>
